@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 50%) 0px 3px 12px;
  }
}

.card {
  backdrop-filter: blur(50px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.89);
}


.card-container {

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(173, 168, 168, 0.363);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  box-shadow: -2px -1px 11px 0px rgba(255, 255, 255, 0.61) inset;
  -webkit-box-shadow: -2px -1px 11px 0px rgba(76, 81, 83, 0.61) inset;
  -moz-box-shadow: -2px -1px 11px 0px rgba(255, 255, 255, 0.61) inset;
}


.card-container:hover {
  color:  rgb(206, 190, 190);
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  
  transform: translateY(-6px);
  box-shadow: -2px -1px 11px 0px rgba(255, 255, 255, 0.61) inset;
  -webkit-box-shadow: -2px -1px 11px 0px rgba(127, 152, 161, 0.61) inset;
  -moz-box-shadow: -2px -1px 11px 0px rgba(255, 255, 255, 0.61) inset;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/noise.png'); /* Path to your noise texture image */
  opacity: 0.07; /* Adjust opacity for subtle noise effect */
  mix-blend-mode: overlay; /* Apply blend mode to mix with background */
  pointer-events: none; /* Make sure the noise doesn't affect interactivity */
}

